*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 350px;
    height: 500px;
    background-color: rgb(31, 31, 31);
    /* text-align: center; */
    margin: 80px auto;
}

.container #timer{
    position: absolute;
    top: 150px;
    font-size: 50px;
    margin: 0 120px;
    color: aliceblue;
}

.container .start button{
    position: absolute;
    top: 250px;
    margin: 0 5cqh;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.container .stop button{
    position: absolute;
    top: 250px;
    margin: 0 130px;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.container .resert button{
    position: absolute;
    top: 250px;
    margin: 0 220px;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.redshow{
    background-color: brown;
    color: aliceblue;
}

.blueshow{
    background-color: rgb(47, 137, 241);
    color: aliceblue;
}